<%- include("partials/header.ejs") %>

<main class="container py-5">
        <h1 class="about">About me</h1>
        <h2 class="intro">Hiya, I’m Danielle! Ever since I chanced upon the magical world of Hogwarts at age 12, I’ve proudly worn the title of bookworm. Books have been my comfort, my escape, my constant companions—and this space is where I share the ones that have recently swept me off my feet.</h2>
        <h3>Here’s what you can expect from my reviews:</h3>
        <ul>
            <li>Some of these reads were thoughtful gifts.</li>
            <li>Others I thrifted from charming secondhand bookshops or charity shops.</li>
            <li>A few are from favourite authors I discovered via family hand-me-downs.</li>
            <li>And some are best‑sellers from my local bookstore.</li>
        </ul>
        <h3>And some are best‑sellers from my local bookstore.</h3>
        <ul>
            <li>Kindle or whereever you downlod you eBooks provide free samples of the first couple of chapters</li>
            <li>Join your local library, it's free and you become part of the community. Some libraries run their own book clubs and events.</li>
        </ul>
        <div class="harrypotter-container">
            <img src="assets/images/HarryPotter123.png" alt="Harry Potter 1, 2, and 3" class="harrypotter" />
        </div>
    </main>

<%- include("partials/footer.ejs") %>
